Wczytaj do Pandas bazę najlepiej sprzedających się albumów wszechczasów.

In [7]:
import pandas as pd
import csv

albums_list = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)
albums = albums_list[0]

Zamień nagłówki kolumn na polskie odpowiedniki: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']

In [9]:
albums.rename(columns={'TITLE':'TYTUŁ', 'ARTIST':'ARTYSTA', 'YEAR':'ROK', 'HIGH POSN':'MAX POZ'}, inplace=True)
albums.head(1)

   POS          TYTUŁ ARTYSTA   ROK  MAX POZ
0    1  GREATEST HITS   QUEEN  1981        1

Ilu pojedynczych artystów znajduje się na liście?

In [10]:
print(albums['ARTYSTA'].nunique())

47

Które zespoły pojawiają się najczęściej na liście?

In [11]:
print(albums['ARTYSTA'].value_counts().head())

COLDPLAY         3
TAKE THAT        3
FLEETWOOD MAC    2
ABBA             2
DIDO             2
Name: ARTYSTA, dtype: int64

Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [12]:
albums.rename(columns=str.capitalize, inplace=True)
albums.head(1)

   Pos          Tytuł Artysta   Rok  Max poz
0    1  GREATEST HITS   QUEEN  1981        1

Wyrzuć z tabeli kolumnę ‘Max Poz’.

In [13]:
albums.drop('Max poz', axis=1, inplace=True)
albums.head(1)

   Pos          Tytuł Artysta   Rok
0    1  GREATEST HITS   QUEEN  1981

W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [14]:
print(albums['Rok'].value_counts().head(1))

2000    4
Name: Rok, dtype: int64

Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [15]:
albums_between=albums[(albums['Rok']>1960) & (albums['Rok']<1990)]
print(len(albums_between))

21

W którym roku wydany został najmłodszy album na liście?

In [16]:
print(albums['Rok'].max())

2015

Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [17]:
print(albums.groupby('Artysta').min())

                          Pos                             Tytuł   Rok
Artysta
ABBA                        2              GOLD - GREATEST HITS  1975
ADELE                       4                                21  2011
ALANIS MORISSETTE          41                JAGGED LITTLE PILL  1995
AMY WINEHOUSE              13                     BACK TO BLACK  2006
BEATLES                     3                                 1  1967
BOB MARLEY & THE WAILERS   16                            LEGEND  1984
COLDPLAY                   31       A RUSH OF BLOOD TO THE HEAD  2000
CORRS                      28                   TALK ON CORNERS  1997
DAVID GRAY                 26                      WHITE LADDER  1998
DIDO                       25                     LIFE FOR RENT  2000
DIRE STRAITS                8                  BROTHERS IN ARMS  1985
ED SHEERAN                 49                                 X  2014
EMINEM                     55           THE MARSHALL MATHERS LP  2000
FLEETWOOD MAC              11                           RUMOURS  1977
GEORGE MICHAEL             53  LADIES & GENTLEMEN - THE BEST OF  1998
JAMES BLUNT                17                    BACK TO BEDLAM  2004
JEFF WAYNE                 37             THE WAR OF THE WORLDS  1978
KEANE                      35                   HOPES AND FEARS  2004
KINGS OF LEON              33                 ONLY BY THE NIGHT  2008
LADY GAGA                  30                          THE FAME  2008
LEONA LEWIS                23                            SPIRIT  2007
MADONNA                    12         THE IMMACULATE COLLECTION  1990
MEAT LOAF                  19                   BAT OUT OF HELL  1977
MICHAEL BUBLE              24                        CRAZY LOVE  2009
MICHAEL JACKSON             6                               BAD  1982
MIKE OLDFIELD              42                     TUBULAR BELLS  1973
NORAH JONES                50                 COME AWAY WITH ME  2002
OASIS                       5    WHAT'S THE STORY MORNING GLORY  1995
ORIGINAL CAST RECORDING    52                THE SOUND OF MUSIC  1965
ORIGINAL SOUNDTRACK        22                     DIRTY DANCING  1977
PAUL SIMON                 51                         GRACELAND  1986
PHIL COLLINS               39                     BUT SERIOUSLY  1989
PINK FLOYD                  7         THE DARK SIDE OF THE MOON  1973
QUEEN                       1                     GREATEST HITS  1981
REM                        60          AUTOMATIC FOR THE PEOPLE  1992
ROBBIE WILLIAMS            48           I'VE BEEN EXPECTING YOU  1998
SCISSOR SISTERS            38                   SCISSOR SISTERS  2004
SHANIA TWAIN               15                      COME ON OVER  1997
SIMON & GARFUNKEL          21        BRIDGE OVER TROUBLED WATER  1970
SIMPLY RED                 14                             STARS  1991
SNOW PATROL                58                         EYES OPEN  2006
SPICE GIRLS                29                             SPICE  1996
TAKE THAT                  34                   BEAUTIFUL WORLD  2005
TRACY CHAPMAN              44                     TRACY CHAPMAN  1988
TRAVIS                     43                       THE MAN WHO  1999
U2                         36                   THE JOSHUA TREE  1987
VERVE                      18                       URBAN HYMNS  1997

Listę zapisz do pliku csv.

In [18]:
albums.to_csv('best_albums.csv', index=False)